---
# tasks file for pf.install
- name: import distribution specific variables
  include_vars: "{{ ansible_os_family|lower }}.yml"

# include in place of import (dynamic evaluation)
- name: include distribution specific tasks
  include_tasks: "{{ ansible_os_family|lower }}.yml"

- name: include cluster tasks
  include_tasks: cluster_requirements.yml
  when: packetfence_install__cluster

- name: include utils tasks
  include_tasks: utils.yml

- name: include database tasks
  include_tasks: db.yml
  when: packetfence_install__configurator_status == 'disabled'
  
- name: include config tasks
  include_tasks: config.yml
  when: packetfence_install__configurator_status == 'disabled'
