{{ ansible_managed | comment }}
[general]
#
# general.domain
#
# Domain name of PacketFence system.
domain={{ pf_domain }}
#
# general.hostname
#
# Hostname of PacketFence system.  This is concatenated with the domain in Apache rewriting rules and therefore must be resolvable by clients.
hostname={{ pf_hostname }}

[alerting]
#
# alerting.emailaddr
#
# Email address to which notifications of rogue DHCP servers, violations with an action of "email", or any other 
# PacketFence-related message goes to.
emailaddr={{ pf_emailaddr }}
fromaddr={{ pf_fromaddr }}

[database]
#
# database.pass
#
# Password for the mysql database used by PacketFence. Changing this parameter after the initial configuration will *not* change it in the database it self, only in the configuration.
pass={{ pf_database_pass }}

{% for int in pf_interfaces %}
[interface {{ interface['id'] }}]
ip={{ interface['ip'] }}
mask={{ interface['mask'] }}
type={{ interface['type'] }}
{% if enforcement is defined %}
enforcement={{ interface['enforcement'] }}
{% else %}
interface['enforcement'] is not defined
{% endif %}
{# keep space below #}

{% endfor %}
