{{ ansible_managed | comment }}
{% for repo in packetfence_install__deb['repos'] %}
deb http://inverse.ca/downloads/PacketFence/{{ repo }} {{ ansible_distribution_release }} {{ ansible_distribution_release }}
{% endfor %}